<!DOCTYPE html> 
<html lang="en"> 
<style>
pit {
  background-color: #fff;
  width: 200px;
  padding: 25px;
  border: 1px solid navy;
}
</style>
<head> 
	<meta charset="UTF-8"> 
	<title>Portal de Processamento de Imagens</title> 
</head> 
<body> 

	<div class="jumbotron rounded-0" style="background-color: #4a77b4">
  		<div class="container" style="color: #fff">
    		<h1 class="display-4">Mediana</h1>
    		<p>Filtragem pela mediana com uma janela de 5 pixels</p>
  		</div>
	</div>

	<center>
	<div class="container" style="color: #000000; margin-bottom:1px; margin-top:1px;">
    		<h1 class="display-4" border="15px">Filtro de Mediana</h1>
		<div align='justify'>
		Filtro não-linear que tem por objetivo remover ruídos em imagens preservando ao bordas e detalhes da imagem. No processamento de imagens utilizando esta ferramenta, o nível de cinza do pixel central da janela é substituído pela mediana dos pixels situados em sua vizinhança. Imagens que contenham ruídos do tipo sal e pimenta são as que apresentam melhores resultados utilizando a mediana, enquanto que para ruídos do tipo gaussiano é apenas satisfatório se comparado com o filtro de média.
		</div>
  	</div>
	
  	<div class="container" style="color: #000000; margin-bottom:1px; margin-top:1px;">
    		<h1 class="display-4" border="15px">Upload de Arquivo</h1>
  	</div>
	<center>
	Escolha a imagem a ser processada:
	</center>
	<p></p>

	<form method = "post" enctype="multipart/form-data"> 
		{% csrf_token %} 
		{{ form.as_p }} 
		<button type="submit">Upload</button> 
	</form> 
	</center>

	</div>
	<p></p>
	<p></p>
	<img src="/media/ime.jpg" class="img-responsive" width="90" align="left">
	<h3>Instituto Militar de Engenharia</h3>
	<p>A plataforma foi desenvolvida no Instituto Militar de Engenharia. O projeto é de responsabilidade da Seção de Engenharia Cartográfica - SE/6.</p>


</body> 
</html> 

